<!DOCTYPE html>

<html lang="en">
    <!--Makes website mobile friendly-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <!--Bootstrap compatibility-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title class = title>Lehtinen Lab</title>
    </head>
    <body class="p-3 mb-2 bg-info text-white">
        <center><h1 class = header>Lehtinen Lab Video Information Forms</h1></center>
        <center><p>Click <a color: yellow href="/enter" style="color:yellow">HERE</a> to input experiment information.</p></center>
        <center><p>Click <a color: yellow href="/request" style="color:yellow">HERE</a> to search information.</p></center>
    </body>
<html/>