<html lang="en">
    <!--Makes website mobile friendly-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <!--Bootstrap compatibility-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title class = title>Video Data Request</title>
    </head>
    <body style="background-color:LemonChiffon;">
        <h1 class="header text-info" >Video Data Form</h1>
        <form action="/request" method="post">
            <div class="form-group col-md-8">
                <label>Select Category(s) to Query On:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="First Name" name="firstname">
                    <label class="form-check-label">
                        First Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Last Name" name="lastname">
                    <label class="form-check-label">
                        Last Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Email" name="email">
                    <label class="form-check-label">
                        Email
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="File Name" name="filename">
                    <label class="form-check-label">
                        File Name
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="File Name" name="filepath">
                    <label class="form-check-label">
                        File Path
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="File Type" name="filetype">
                    <label class="form-check-label">
                        File Type
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Date" name="Date">
                    <label class="form-check-label">
                        Date
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Mouse" name="mouse">
                    <label class="form-check-label">
                        Mouse
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Bath" name="bath">
                    <label class="form-check-label">
                        Bath
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Injection" name="injection">
                    <label class="form-check-label">
                        Injection
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Length" name="length">
                    <label class="form-check-label">
                        Length
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Time" name="time">
                    <label class="form-check-label">
                        Time
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Framerate" name="framerate">
                    <label class="form-check-label">
                        Framerate
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Frames" name="frames">
                    <label class="form-check-label">
                        Frames
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Response" name="response">
                    <label class="form-check-label">
                        Response
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Notes" name="notes">
                    <label class="form-check-label">
                        Notes
                    </label>
                </div>
            <button type="submit" class="btn btn-info" style="margin: 20px">Submit</button>
        </form>
    </body>
</html>